.signup-page {
  background-image: url("/images/signup-page-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}


/* did not followed mobile-first approach of tailwind, so had to find way around it */
@media (width <=48rem) {
  .signup-form-container {
    width: 90%;
    padding-inline: 1.8rem;
  }
}
